<div class='second-photo'>
  <div class="row firstname container"><br />
    <h3>Sign up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class='field'>
        <div class="input-field col s12"><br />
          <%= f.text_field :name, id: 'name', class: 'validate' %>
          <%= f.label :name, for: 'name' %><br />
        </div>
      </div>



    <div class='field'>
      <div class="input-field col s12"><br />
        <%= f.text_field :ability, id: 'ability', class: 'validate' %>
        <%= f.label :ability, for: 'ability' %><br />
      </div>
    </div>


    <div class="field">
      <div class="input-field col s12"><br />
        <%= f.email_field :email, id: 'email', class: 'validate', autofocus: true %>
        <%= f.label :email, for: 'ability' %><br />
      </div>
    </div>


    <div class="field">
      <div class="input-field col s12"><br />
        <%= f.label :password, for: 'password' %>
        <%= f.password_field :password, id: 'password', class: 'validate', autocomplete: "off" %>
      </div>
    </div>



    <div class="field">
      <div class="input-field col s12"><br />
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

      <div class="actions col s12 sign">
        <%= f.submit "Sign up", class: 'btn' %>
      </div>


    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
