<h1> Edit Mountain </h1>
<%= form_for @mountain do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :elevation %>
  <%= f.number_field :elevation %>

  <%= f.label :latitude %>
  <%= f.number_field :latitude, class: :text_field, step: :any %>

  <%= f.label :longitude %>
  <%= f.number_field :longitude, class: :text_field, step: :any %>

  <%= f.label :ability %>
  <%= f.text_field :ability %>

  <%= f.submit %>
<% end %>