<!DOCTYPE html>
<html>
  <head>
    <title>Ascender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Ascender</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Mountains", mountains_path %></li>
          <% if current_user %>
            <li><%= link_to "User Home", root_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
